html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: none; */
}

iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    /* z-index: 999; */
}

#mainPlayer {
    display: none;
}

#browse {
color: white;
}